@charset "UTF-8";
/* ============= Grid Setting ============ */
/* ============= Detail ============ */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans", "\B098\B214\C2A4\D018\C5B4", "NanumSquare", "\B9D1\C740   \ACE0\B515", "\B3CB\C6C0", Dotum, "sans-serif"; }

body {
  background: #f2f2f2; }

.banner * {
  box-sizing: inherit;
  word-break: keep-all; }

.banner > div {
  display: block;
  overflow: hidden; }

.A1 {
  margin: 10px auto; }
  .A1 .code {
    padding: 5px 0 10px 0; }
  .A1 .frame {
    width: 1140px;
    height: 110px; }
    .A1 .frame h3 {
      float: none; }
    .A1 .frame dl {
      float: left;
      display: table;
      max-width: 820px;
      padding-bottom: 5px; }
    .A1 .frame dt {
      display: table-cell;
      padding: 0;
      font-size: 26px;
      letter-spacing: -0.05rem;
      vertical-align: middle; }
      .A1 .frame dt img {
        height: 100%;
        max-height: 60px; }
    .A1 .frame .obj {
      display: block;
      width: 130px; }
    .A1 .frame dd {
      display: table-cell;
      padding: 0 0 0 20px;
      vertical-align: middle;
      font-size: 26px; }
    .A1 .frame .coupon {
      max-height: 70px; }
    .A1 .frame .btn {
      display: none; }

.A2 .frame {
  width: 140px;
  height: 90px;
  background: #fff !important; }

.A2 .LT, .A2 .CT, .A2 .RT,
.A2 .LM, .A2 .RM,
.A2 .LB, .A2 .CB, .A2 .RB {
  display: none; }

.A2 .CM .obj img {
  width: auto;
  height: 60px; }

.A2 .CM dt, .A2 .CM dd {
  margin: 0;
  padding: 2px;
  font-size: 12px;
  letter-spacing: -0.05rem; }

.A3_C1 .frame {
  width: 1140px;
  height: 478px; }
  .A3_C1 .frame dl {
    max-width: 740px; }
  .A3_C1 .frame dt img {
    padding-top: 10px; }
  .A3_C1 .frame .obj {
    width: 490px; }

.A4_C2 .frame {
  width: 640px;
  height: 460px; }
  .A4_C2 .frame dl {
    max-width: 490px; }
  .A4_C2 .frame dt {
    padding: 0 0 30px 0;
    font-size: 80px; }
    .A4_C2 .frame dt img {
      padding-top: 10px; }
  .A4_C2 .frame h3,
  .A4_C2 .frame dd {
    padding: 0 0 1px 0;
    font-size: 19px; }
  .A4_C2 .frame .obj {
    width: 470px; }

.A5 .frame {
  width: 1140px;
  height: 250px; }
  .A5 .frame dl {
    max-width: 800px; }
  .A5 .frame dl {
    display: table;
    max-width: 900px;
    padding-bottom: 5px; }
  .A5 .frame dt {
    display: table-cell;
    padding: 0;
    font-size: 26px;
    letter-spacing: -0.05rem;
    vertical-align: middle; }
    .A5 .frame dt img {
      height: 100%;
      max-height: 120px; }
  .A5 .frame dd {
    display: table-cell;
    padding: 0 0 0 20px;
    vertical-align: middle;
    font-size: 26px; }
  .A5 .frame h3 {
    display: none;
    padding: 0;
    vertical-align: middle;
    font-size: 17px; }
  .A5 .frame .obj {
    max-width: 260px; }
  .A5 .frame .btn {
    display: none; }

.A6_C4 .frame {
  width: 640px;
  height: 190px; }
  .A6_C4 .frame dl {
    max-width: 470px; }
  .A6_C4 .frame dt {
    padding: 0 0 10px 0;
    font-size: 60px; }
    .A6_C4 .frame dt img {
      max-height: 110px;
      padding-top: 10px; }
  .A6_C4 .frame h3,
  .A6_C4 .frame dd {
    padding: 0 0 0px 0;
    font-size: 17px; }
  .A6_C4 .frame .coupon {
    max-width: 130px; }
  .A6_C4 .frame .obj {
    max-width: 200px; }

.A7_C5 .frame {
  width: 1140px;
  height: 150px; }
  .A7_C5 .frame dl {
    display: table;
    max-width: 900px;
    padding-bottom: 5px; }
  .A7_C5 .frame dt {
    display: table-cell;
    padding: 0;
    font-size: 26px;
    letter-spacing: -0.05rem;
    vertical-align: middle; }
    .A7_C5 .frame dt img {
      height: 100%;
      max-height: 60px; }
  .A7_C5 .frame dd {
    display: table-cell;
    padding: 0 0 0 20px;
    vertical-align: middle;
    font-size: 26px; }
  .A7_C5 .frame h3 {
    display: none;
    padding: 0;
    vertical-align: middle;
    font-size: 17px; }
  .A7_C5 .frame .obj {
    max-width: 160px; }
  .A7_C5 .frame .btn {
    display: none; }

.A8 .frame {
  width: 390px;
  height: 600px; }
  .A8 .frame dl {
    max-width: 320px; }
  .A8 .frame dt {
    padding: 0 0 20px 0;
    font-size: 80px; }
    .A8 .frame dt img {
      max-height: 100px;
      padding-top: 10px; }
  .A8 .frame h3,
  .A8 .frame dd {
    padding: 0 0 0px 0;
    font-size: 19px; }
  .A8 .frame .obj {
    width: 370px; }

.B3 .frame {
  width: 222px;
  height: 222px; }
  .B3 .frame dl, .B3 .frame h3, .B3 .frame .btn {
    display: none; }
  .B3 .frame .obj {
    width: 230px; }

.B4 {
  display: none; }

.C3 .frame {
  width: 910px;
  height: 354px; }
  .C3 .frame dl {
    max-width: 630px; }
  .C3 .frame dt {
    padding: 0 0 15px 0;
    font-size: 80px; }
    .C3 .frame dt img {
      max-height: 140px;
      padding-top: 10px; }
  .C3 .frame h3,
  .C3 .frame dd {
    padding: 0 0 1px 0;
    font-size: 19px; }
  .C3 .frame .obj {
    max-width: 360px; }

.C6 .frame {
  width: 344px;
  height: 243px; }
  .C6 .frame dl {
    max-width: 300px; }
  .C6 .frame dt {
    padding: 0 0 20px 0;
    font-size: 40px; }
    .C6 .frame dt img {
      max-height: 90px;
      padding-top: 10px; }
  .C6 .frame h3,
  .C6 .frame dd {
    padding: 0 0 1px 0;
    font-size: 17px; }
  .C6 .frame .obj {
    width: 250px; }
  .C6 .frame .coupon {
    max-width: 130px; }

.sec {
  display: block;
  margin: 10px auto; }
  .sec .frame {
    overflow: hidden;
    position: relative; }
  .sec h3 {
    padding: 0 0 2px 0;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans", "\B098\B214\C2A4\D018\C5B4", "NanumSquare", "\B9D1\C740   \ACE0\B515", "\B3CB\C6C0", Dotum, "sans-serif";
    font-weight: 600;
    font-size: 22px;
    letter-spacing: -0.025rem;
    color: black;
    line-height: 1.4;
    opacity: 0.7; }
  .sec dl {
    overflow: hidden; }
  .sec dt {
    padding: 0px 0 15px 0;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans", "\B098\B214\C2A4\D018\C5B4", "NanumSquare", "\B9D1\C740   \ACE0\B515", "\B3CB\C6C0", Dotum, "sans-serif";
    font-weight: 600;
    font-size: 90px;
    letter-spacing: -0.22rem;
    color: black;
    line-height: 1.4;
    opacity: 0.9;
    line-height: 1.2; }
  .sec dd {
    padding: 0 0 15px 0; }
    .sec dd span {
      font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans", "\B098\B214\C2A4\D018\C5B4", "NanumSquare", "\B9D1\C740   \ACE0\B515", "\B3CB\C6C0", Dotum, "sans-serif";
      font-weight: 400;
      font-size: 22px;
      letter-spacing: -0.025rem;
      color: black;
      line-height: 1.4;
      opacity: 0.6; }
  .sec .coupon img {
    width: auto;
    height: 100%;
    max-height: 90px;
    padding-top: 12px; }
  .sec .obj {
    margin: 0 auto; }
    .sec .obj img {
      width: 100%; }
  .sec p.btn {
    display: inline-block;
    margin: 15px 0 20px 0;
    font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Open Sans", "\B098\B214\C2A4\D018\C5B4", "NanumSquare", "\B9D1\C740   \ACE0\B515", "\B3CB\C6C0", Dotum, "sans-serif";
    font-weight: 400;
    font-size: 22px;
    letter-spacing: -0.025rem;
    color: black;
    line-height: 1.4;
    opacity: 0.8; }
  .sec .square.btn {
    min-width: 150px;
    padding: 7px 30px 12px 30px;
    background: black;
    color: #fff;
    text-align: center; }
  .sec .round.btn {
    min-width: 150px;
    padding: 7px 30px 12px 30px;
    background: black;
    border-radius: 40px;
    color: #fff;
    text-align: center; }
  .sec .LT {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    z-index: 1; }
    .sec .LT .obj {
      float: left; }
  .sec .CT {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    text-align: center;
    z-index: 3; }
    .sec .CT * {
      text-align: center; }
  .sec .RT {
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(0%, 0%);
    z-index: 2; }
    .sec .RT .obj {
      float: right; }
  .sec .LM {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 7; }
    .sec .LM .obj {
      float: left; }
  .sec .CM {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-align: center; }
    .sec .CM * {
      text-align: center; }
    .sec .CM .obj {
      overflow: hidden; }
  .sec .RM {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 8; }
    .sec .RM .obj {
      overflow: hidden;
      float: right; }
  .sec .LB {
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(0%, 3.5%);
    z-index: 4; }
    .sec .LB .obj {
      float: left; }
  .sec .CB {
    position: absolute;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 3.5%);
    z-index: 6;
    text-align: center; }
    .sec .CB * {
      text-align: center; }
  .sec .RB {
    position: absolute;
    right: 0%;
    bottom: 0%;
    transform: translate(0%, 3.5%);
    z-index: 5; }
    .sec .RB .obj {
      float: right; }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3Mvc3R5bGUuYnVuZGxlLmNzcyIsInNvdXJjZVJvb3QiOiIifQ==*/